{% extends "base.html" %}

{% block title %}
    Панель просмотра заявок
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/applications.css">
{% endblock %}

{% block content %}

    <main>
        <h1>{{ title_h1 }}</h1>

        <form method="get" action="" id="date-form">
            <!-- Передайте admin_id как целое число -->
            <input type="hidden" name="admin_id" value="{{ user_id }}">
            <label for="date-filter">Выберите дату:</label>
            <input type="date" id="date-filter" name="date" value="{{ selected_date or '' }}">
        </form>

        {% if access %}
            <table id="appointments-table">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>имя</th>
                    <th>номер телефона</th>
                    <th>Услуга</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                {% for application in applications %}
                    <tr>
                        <td>{{ application.appointment_date }}</td>
                        <td>{{ application.appointment_time }}</td>
                        <td>{{ application.client_name }}</td>
                        <td>{{ application.telephone_number }}</td>
                        <td>{{ application.service_name }}</td>
                        <td>
                            <button class="delete-btn" data-id="{{ application.application_id }}">Удалить</button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ message }}</p>
        {% endif %}
    </main>
{% endblock %}
{% block scripts %}
    <script src="/static/js/applications.js"></script>

{% endblock %}