{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">


    <link rel="stylesheet" href="/static/css/calendar.css">
{% endblock %}

{% block content %}
    <main>
        <h1>{{ title }}</h1>
        <input type="hidden" id="userId" value="{{ user_id }}">
        <input type="text" id="datePicker" placeholder="Выберите даты" multiple>
{#        <button id="submitDates">Добавить рабочие дни</button>#}

        <h2>Выбранные рабочие дни:</h2>
        <ul id="selectedDatesList">
            {% for day in work_days %}
                <li>{{ day }}</li>
            {% endfor %}
        </ul>
    </main>



    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- Подключение локализации русского языка для flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>

    <script src="/static/js/calendar.js" ></script>


{% endblock %}